[submodule "wedding"]
	path = wedding
	url = https://github.com/breakstorm/wedding
[submodule "css-font-example"]
	path = css-font-example
	url = https://github.com/breakstorm/css-font-example.git
[submodule "clone_onbrand"]
	path = clone_onbrand
	url = https://github.com/breakstorm/clone_onbrand
